<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="sunglasses"
          class="me.Syrotenko.springlab01.items.Sunglasses">
        <constructor-arg name="name" value="Cool sunglasses"/>
        <constructor-arg name="height" value="${sunglasses.height}"/>
        <constructor-arg name="width" value="${sunglasses.width}"/>
    </bean>

    <bean id="smallPocket"
          class="me.Syrotenko.springlab01.Pocket">
        <constructor-arg name="height" value="${small_pocket.height}"/>
        <constructor-arg name="width" value="${small_pocket.width}"/>
    </bean>

    <bean id="largePocket"
          class="me.Syrotenko.springlab01.Pocket">
        <constructor-arg name="height" value="${large_pocket.height}"/>
        <constructor-arg name="width" value="${large_pocket.width}"/>
        <property name="item" ref="sunglasses"/>
    </bean>

    <bean id="builderHelmet"
          class="me.Syrotenko.springlab01.equipment.Helmet">
    </bean>

    <bean id="policeVest"
          class="me.Syrotenko.springlab01.equipment.Vest">
        <property name="pocket" ref="largePocket"/>
    </bean>

    <bean id="jeans"
          class="me.Syrotenko.springlab01.equipment.Pants">
        <property name="pocket" ref="smallPocket"/>
    </bean>

    <bean id="playerCharacter"
          class="me.Syrotenko.springlab01.Characteristics">
        <property name="name" value="${name}"/>
        <property name="head" ref="builderHelmet"/>
        <property name="body" ref="policeVest"/>
        <property name="legs" ref="jeans"/>
    </bean>
</beans>